{% extends "user/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load hitcount_tags %}
{% block content %}
<div class="d-flex justify-content-between container rounded p-2">
  <h4 class="text-dark lead">Attendance Requests</h4>
  <abbr title="Create New Request"><a class="btn shadow" href="{% url 'new_request' %}" style="color: white; border-radius:25px; background-image: linear-gradient(to top left, #FE5F75,#FC9842);"><i class="fas fa-plus"></i> &nbsp;New Request</a></abbr>
</div>
<div class="container">
    {% for request in requests %}
        {% if forloop.counter|divisibleby:2 %}
        <article class="shadow mb-2 p-4 border border-white"  style="color: white; border-radius:25px; background-image: linear-gradient(to top right,#8360c3 , #2ebf91);">
          <div class="media-body media1 p-2">
            <div class="article-metadata">
              <a class="mr-2" href="#" style="color:white">{{ request.user.username}}</a>
              <small>{{ request.start_time}}</small>
              {% if request.granted == True %}
               <h5 class="float-right btn btn-light shadow" style="border-radius:15px; ">Request Granted</h5>
               {% else %}
               <h5 class="float-right btn btn-light shadow" style="border-radius:15px; ">Under Process</h5>
              {% endif %}
            </div>
            <h4 style="height: auto;font-size: larger;"><a href="{% url 'request_detail' request.id %}" style="color:white">{{ request.company }}</a></h4>
          </div>
        </article>
        {% else %}
        <article class="shadow mb-2 p-4 border border-white"  style="color: white; border-radius:25px; background-image: linear-gradient(to bottom left,#EF6DA0,#EE8E6B);">
          <div class="media-body media1 p-2">
            <div class="article-metadata">
              <small>{{ request.start_time|date:"F d, Y" }}</small>
              {% if request.granted == True %}
               <h5 class="float-right btn btn-light shadow" style="border-radius:15px; ">Request Granted</h5>
               {% else %}
               <h5 class="float-right btn btn-light shadow" style="border-radius:15px; ">Under Process</h5>
              {% endif %}
            </div>
             <h4 style="height: auto;font-size: larger;"><a href="{% url 'request_detail' request.id %}" style="color:white">{{ request.company }}</a></h4>
            <h4 style="height: auto;font-size: larger;color:white">{{ request.request_type }}</h4>
          </div>
        </article>
        {%endif %}
    {% endfor %}
  </div>
{% endblock content %}
