{% load static %}<!-- Footer -->
<section class="container" id="footer">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">

            <p>🍺 Brewed in B13 <br> &copy All rights reserved. @yhb @ynvp @ksv</p>
            <span class='mt-4 mb-4 d-flex justify-content-center'>
                <button class='btn btn-primary shadow m-2'><a href="mailto:ynvp99@gmail.com" target="_blank" style='color:white;text-decoration:none;'>Support Team</a></button>
                <button class='btn btn-primary shadow m-2'><a href="https://forms.gle/m8iWwPWPTEGqE7hS6" target="_blank" style='color:white;text-decoration:none;'>Coursera Help Desk</a></button>
            </span>
        </div>
        </hr>
      </div>
      <p>v5.p1.234504112020🛠</p>
  </section>
