{% extends 'user/base.html' %}
{% load top_day_month %}
{% load static %}
{% load bootstrap4 %}
{% load humanize %}

{% block content %}

<!--Show write book and start chapter buttons from author-->
<div class="col-md-10">
  <!-- Random pick row -->
  <h5>Random Pick</h5><div class="card mb-3 shadow border " style="max-width: 540px;">
    <div class="row no-gutters">
    <div class="col-md-5">
      <a href="{% url 'detail' random_book.id %}">
        <img src="{{random_book.image}}" class="card-img w-100" alt="...">
      </a>
    </div>
    <div class="col-md-7">
      <div class="card-body">
      <!--Makes book name and dropdown to single line-->
        <div class="btn-group dropdown show">
          <a href="{% url 'detail' random_book.id %}" class="card-title lead nav-link p-1">
            {{ random_book.name }}
          </a>
          
        </div>
        <p class="card-text"><small> <i class="fas fa-feather-alt"></i> {{random_book.author}}</small> &middot; <span>{{ random_book.hit_count.hits }} </span> <small>views</small></p>
        
        {% if user.is_authenticated %}

        {% endif %}
        {% for genre in random_book.genre.all %}
        <a class="mr-6" class="card-text nav-link" href="{% url 'genre-book' genre %}"> <small>※{{genre}}</small> </p>
        {% endfor %}
        {% for tag in book.tags.all %}
        <a class="mr-6" href="{% url 'tag_books' tag %}"><span class="badge badge-light btn-outline-success ">#{{tag}}</span></a>
        {% endfor %}
        <p class="card-text"><small class="text-muted">{{random_book.published_date|timesince }} ago</small></p>
      </div>
    </div>
  </div>
  </div>
  <br><h4>Updates</h4><br>
  <div class="row p-4">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>      
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
    <div id="home_carousal" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#home_carousal" data-slide-to="0" class="active"></li>
        <li data-target="#home_carousal" data-slide-to="1"></li>
        <li data-target="#home_carousal" data-slide-to="2"></li>
      </ul>
      
      <!-- The slideshow -->
      <div class="container carousel-inner no-padding">
        <div class="carousel-item active">
          {% for b1 in row1 %}
          <div class="col-xs-3 col-sm-3 col-md-3">
            <a href="{% url 'detail' b1.id %}"><img src="{{b1.image}}" class="w-100"></a>
          </div>    
          {% endfor %}
        </div>
        <div class="carousel-item">
          {% for b2 in row2 %}
          <div class="col-xs-3 col-sm-3 col-md-3">
            <a href="{% url 'detail' b2.id %}"><img src="{{b2.image}}" class="w-100" height=200></a>
          </div>    
          {% endfor %}
        </div>
        <div class="carousel-item">
          {% for b3 in row3 %}
          <div class="col-xs-3 col-sm-3 col-md-3">
            <a href="{% url 'detail' b3.id%}"><img src="{{b3.image}}" class="w-100" height=200></a>
          </div>    
          {% endfor %}
        </div>
      </div>
      
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#home_carousal" data-slide="prev">
        <span class="carousel-control-prev-icon bg-success"></span>
      </a>
      <a class="carousel-control-next" href="#home_carousal" data-slide="next">
        <span class="carousel-control-next-icon bg-success"></span>
      </a>
    </div>  
  </div>
  
  <!-- Top day, week, month -->
  <div class="row">
    <ul class="nav nav-tabs nav-pills green pt-4" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="top-day" data-toggle="tab" href="#topday" role="tab" aria-controls="topday" aria-selected="true">Top Day </a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" id="top-week" data-toggle="tab" href="#topweek" role="tab" aria-controls="topweek" aria-selected="false">Top Week </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="top-month" data-toggle="tab" href="#topmonth" role="tab" aria-controls="topmonth" aria-selected="false">Top Month </a>
      </li>
      </ul>
      <!-- Tab panes -->
</div>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="topday" role="tabpanel" aria-labelledby="top-day">
    <small>Feature in development</small>
  </div>
  <div class="tab-pane fade" id="topweek" role="tabpanel" aria-labelledby="top-week">
    <small>Feature in development</small>
  </div>
  <div class="tab-pane fade" id="topmonth" role="tabpanel" aria-labelledby="top-month">
    <small>Feature in development</small>
  </div>
</div>

{% endblock content %}
