{% extends 'user/base.html' %}
{% load news %}
{% load requests %}
    {% block content %}
        <br><p id="sem" class="float-right p-2" title='semester-countdown' style="border-radius:2px;display: block;background-image: linear-gradient(to bottom right,#F7971E,#FFD200);color:white"></p><br>

        {% if request.user.is_authenticated %}
         <h5>Welcome, {{request.user.first_name}}</h5>
         <br>
         <h6>Upcoming Exams</h6>
        {% endif %}


<div class="accordion mb-3 shadow-lg" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Semester Timetable
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Semester Timetable not available. Contact CR.<br>
        Start Dt: 28-12-2020<br>
        Expected End Dt: 12-01-2021
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          MID V Timetable
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
            <h5 class="text-center">MID-5 Schedule (Upcoming) </h5>
            <div class="table-responsive-sm">
            <table class="table table-bordered table-hover">
                <caption><small>mid 5 schedule(section: B13) updated at 0:00 on 00/00/0000</small></caption>
                 <thead class=" font-weight-bold">
                    <tr >
                        <th scope="col">Subject</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Cloud Computing</td>
                        <td>To Be Scheduled</td>
                        <td>_</td>
                    </tr>
                    <tr>
                        <td scope="row">Open Source Software Development</td>
                        <td>To Be Scheduled</td>
                        <td>_</td>
                    </tr>
                    <tr>
                        <td scope="row">Machine Learning</td>
                        <td>To Be Scheduled</td>
                        <td>_</td>
                    </tr>
                    <tr>
                        <td scope="row">Disaster Management </td>
                        <td>To Be Scheduled</td>
                        <td>_</td>
                    </tr>
                    <tr>
                        <td scope="row">Cryptography and Network Security</td>
                        <td>To Be Scheduled</td>
                        <td>_</td></td>
                    </tr>
                    <tr>
                        <td scope="row">Professional Ethics and Human Values</td>
                        <td>To Be Scheduled</td>
                        <td>_</td>
                    </tr>
                </tbody>
            </table>
            </div>
      </div>
    </div>
  </div>
</div>
    {% if request.user.is_authenticated and request.user.profile.section == "B13" %}
    <!-- News templatetag -->
    <div class="row mb-3">
        <div class="col-md-7 shadow-lg p-3 m-2 mr-2 mb-3 ">
            {% requests %}
        </div>
        <div class="col-md-4 m-2 shadow-lg" >
            {% news %}
        </div>
    </div>
    <!-- Requests templatetag -->
    {%endif%}
    <br><br>
    <div class="row">
                <div class="col-md-7">
                        {% if request.user.is_authenticated %}
                            <div class="p-2 mr-1 mb-4 shadow-lg">
                                <h5  class="pt-2 pl-2">Your Active Placements</h5>
                                <hr>
                                {% if request.user.profile.current_events.count %}
                                    {% for event in request.user.profile.current_events.all %}
                                        {% if not event.is_completed %}
                                            <a class="btn btn-primary shadow-lg m-2" style="color: white;"  href="{% url 'calendarapp:event-detail' event.id %}">{{event.title}} </a>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <p class="btn btn-light shadow-lg">No active placements</p><br>
                                    <small>Contact your CR, if there is any error.</small>
                                {% endif %}
                            </div>
                        {% else %}
                            <small class="badge badge-light text-center">Login to know active placements.</small><br>
                        {% endif %}

                </div>
                <div class="col-md-4 m-2 p-4 shadow-lg font-weight-bold">
                    {% if request.user.profile.section == "B13" %}
                        <h5>Congratulations guys you made it!</h5>
                        <hr>
                        1. Harshal Patel(TCS digital & Accenture)<br>
                        2. Meghana (Accenture)<br>
                        3. Pravallika (Accenture)<br>
                        4. N Jahnavi (Accenture)<br>
                        5. M Vikranth (Accenture)<br>
                        6. Likhitha (Accenture)<br>
                        7. Kushwanth(Accenture)<br>
                        8. K Vamsi (Accenture)<br>
                        9. Y Bindu (TCS)<br>
                        10. P Jahnavi(TCS)<br>
                        11. Animesh (KEKA)<br>
                        <hr>
                        <small >Confirm your LOI. This doesnot effect any upcoming CRDs except it must have a salary of 1.5times your current offer.</small>
                    {% else %}
                    <p>Know your class news and events.</p>
                    {% endif %}
                </div>
            </div>


            <div class="shadow-lg p-4 mb-4 mt-4" >
                <h4>Announcements</h4>
                <hr>
                <div class='d-flex justify-content-around'>
                <div class='d-flex flex-column'>
                    <p class='font-weight-bold m-2 p-2 '>Drives completed</p><br>
                    <p class="btn btn-light border border-dark shadow">Keka</p><br>
                    <p class="btn btn-light border border-dark shadow">Deloitte</p><br>
                    <p class="btn btn-light border border-dark shadow">Mindtree</p><br>
                    <a href="{% url 'calendarapp:event-detail' 4 %}" class="btn btn-light border border-dark shadow">TCS Digital</a><br>
                    <a href="{% url 'calendarapp:event-detail' 1 %}" class="btn btn-light border border-dark shadow">Accenture</a><br>
                </div>
                <div class='d-flex flex-column ml-1'>
                    <a class='font-weight-bold m-2 p-2'>Drives in progress</a><br>

                    <a href="{% url 'calendarapp:event-detail' 5 %}" class="btn btn-light border border-success shadow">Amazon </a><br>
                    <a href="{% url 'calendarapp:event-detail' 2 %}" class="btn btn-light border border-success shadow">Cognizant</a><br>
                    <a href="{% url 'calendarapp:event-detail' 3 %}" class="btn btn-light border border-success shadow">TCS NQT</a><br>
                </div>
                <div class='d-flex flex-column ml-1'>
                    <p class='font-weight-bold m-2 p-2'>Upcoming Drives</p><br>
                    <a href="#" class="btn btn-light border border-warning shadow">Informatica</a><br>
                    <a href="#" class="btn btn-light border border-warning shadow">Prodapt</a><br>
                    <a href="#" class="btn btn-light border border-warning shadow">TCS CTO Hiring</a><br>
                </div>
                </div>
            </div>
        <br>

{% endblock %}
</body>
</html>