{% extends 'user/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block auth %}

<div class="container mt-4">
    <div class="row justify-content-center ">
        <div class="col-md-6 shadow-lg d-flex justify-content-center align-items-center p-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend align="center"><img class="w-5" src="{% static 'logo.svg' %}" alt="Flipin">&nbsp;&nbsp; Register</legend>
                {% bootstrap_form form %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">SignUp</button>
            </div>
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </form>
        </div>
    </div>
</div>
{% endblock auth %}
